@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;




  

 section {
    height: auto;
    
 }

 @media (max-width: 1080px) {
    .grid {
        display: grid;
        height: 100vh;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
        "date date coordonnees coordonnees"
        "date date jour-nuit boussole"
        "current-weather current-weather current-weather current-weather"
        "current-weather current-weather current-weather current-weather"
        "heure heure heure heure"
        "heure heure heure heure"
        "jour jour jour jour"
        "jour jour jour jour"
        "jour jour jour jour"
        "jour jour jour jour";
        

        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
    }
}

@media (min-width: 1081px) {
    .grid {
        height: 100vh;
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
          "date date current-weather current-weather current-weather coordonnees coordonnees"
          "date date current-weather current-weather current-weather boussole boussole"
          "date date current-weather current-weather current-weather boussole boussole"
          "jour-nuit jour-nuit current-weather current-weather current-weather boussole boussole"
          "jour-nuit jour-nuit current-weather current-weather current-weather boussole boussole"
          "heure heure heure heure heure heure heure"
          "heure heure heure heure heure heure heure"
          "jour jour jour jour jour jour jour"
          "jour jour jour jour jour jour jour"
          "jour jour jour jour jour jour jour";
        grid-row-gap: 1rem;
        
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
    }
}

 



 .date {
    grid-area: date; 
    @include d-flex-column;
    @include background;

    p {
        color: $primary-color-text;
        font-size: 2rem;
    }
 }

 .current-weather {
    grid-area: current-weather;
    @include d-flex-column;
    @include background;
    color: $primary-color-text;
    height: 100%;

    img {
        height: 50%;
    }
 }

 .coordonnees {
    grid-area: coordonnees;
    @include background;
    @include d-flex-column;
    p{
        font-size: 1.5rem;
        color: $primary-color-text;
    }
 }

 .boussole {
    grid-area: boussole; 
    @include d-flex-column;
    position: relative;
    
    @include background;


    .fond {
        position: absolute;
        height: 67%;
        
    }

    .fleche {
        position: absolute;
        height: 60%;
    }

    .vitesse {
        position: absolute;
        bottom: 0;
    }
 }

 .jour-nuit {
    grid-area: jour-nuit;
    text-align: center;
    @include background;
    color: $primary-color-text;

    img {
        height: 100%;
    }
 }

 .heure {
    grid-area: heure;    
    overflow: hidden;
    width: 100%;
    height: auto;
    
    
    .heurescontainer{
        @include d-flex;
        @include background;
        height: 100%;
        overflow-x: auto; /* Activer le défilement horizontal */
        scroll-behavior: smooth; /* Pour un défilement fluide */
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
        

        
    }
 }

 .jour {
    grid-area: jour;
    @include d-flex;
    margin: auto;
    @include background;
    @media (max-width: 1080px) {
        flex-wrap: wrap;
        justify-content: center;
        
    }

    


    
 }