@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

h1 {
    color: $primary-color-text;
    font-size: 4rem;
    @media (max-width: 640px) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2rem;
}